.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    padding-left: 0;
    list-style-type: none;
    background: #EDEDED;
    border-radius: 20px;
}

.pagination-list a {
    text-decoration: none;
}

.pagination-item {
    padding: 10px 10px;
}

.pagination-item.active {
    background-color: #6F64F8;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

.active a {
    color: white;
}

a {
    font-size: 18px;
    color: #2C2C2C;
}

.btn-pagination {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 8px;
}