@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    background: #F9F9F9;
}

.container {
    max-width: 1846px;
}