.header-block > a {
    text-decoration: none;
}
.logo-block {
    display: flex;
    padding: 25px;
    align-items: center;
    
}

.header-name-logo {
    margin-left: 10px;
    margin-top: 10px;
    padding: 20px;
    font-weight: 600;
    font-size: 52px;
    color: #7E72F2;
    text-decoration: none;
}

.navigation {
    padding: 15px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumb {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2C2C2C;
}