.card-container {
    display: flex;
    flex-direction: column;
    height: 486px;
    margin-bottom: 28px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;
}

.card-container>.content {
    padding: 24px;
    padding-bottom: 15px;
    flex-grow: 1;
}

.card-container .image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-bottom: 20px;
}

.card-container .container-rating-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
    height: 30px;
}

.card-container .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6F64F8;
    border-radius: 3px;
    width: 65px;
    height: 100%;
}

.card-container .rating-value {
    margin-right: 10px;
    color: #FFFFFF;
}

.card-container .product-price {
    font-size: 18px;
    flex-grow: 1;
    text-align: right;
}

.card-container .name-description-container {}

.card-container .product-name {
    margin-bottom: 3px;
    font-size: 16px;
    line-height: 19px;
    color: #2C2C2C;
    font-weight: 400;
}

.card-container .product-description {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #2C2C2C;
}

.card-container .product-name, .card-container .product-description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-container .wish-add {
    display: flex;
}

.card-container .product-button>.button-title {
    margin-left: 10px;
}

.card-container .wishlist-button {
    color: #2C2C2C;
    background-color: #EDEDED;
    border-radius: 0px 0px 0px 8px;
}

.card-container .add-button {
    background: #6F64F8;
    border-radius: 0px 0px 8px 0px;
    color: #FFFFFF;
}

.card-container .product-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 45px;
    border: 0;
    text-transform: uppercase;
    font-weight: 600;
}